::ng-deep p-calendar .p-calendar {
  width: 100%;
}

::ng-deep p-dynamicDialog {
  .p-dialog-mask {
    backdrop-filter: blur(5px);
  }

  .p-dialog-content {
    height: 100%;
  }
}


::ng-deep p-fileUpload {
  .p-fileupload .p-fileupload-content .p-fileupload-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
}

.app-form-control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 100%;
  }
}
