<form [formGroup]="bookForm" (ngSubmit)="save()">
  <div class="app-form-control p-input-filled">
    <label for="title" class="app-label">Título</label>
    <input type="text" pInputText formControlName="title" id="title" class="app-input"/>
  </div>

  <div class="app-form-control p-input-filled">
    <label for="releaseDate" class="app-label">Data de Lançamento</label>
    <p-calendar formControlName="releaseDate"
                id="releaseDate"
                icon="pi pi-calendar"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                class="app-input"
    ></p-calendar>
  </div>

  <div class="app-form-control p-input-filled">
    <label for="author" class="app-label">Autor</label>
    <p-autoComplete
      [suggestions]="authorsOptions"
      [multiple]="true"
      field="label"
      dataKey="value"
      [minLength]="3"
      [dropdown]="true"
      formControlName="authorIds"
      id="author"
      (completeMethod)="loadAuthorOptions($event)"
    ></p-autoComplete>

  </div>

  <div class="app-form-control p-input-filled">
    <label for="genre" class="app-label">Gêneros</label>
    <p-autoComplete
      [suggestions]="genreOptions"
      [multiple]="true"
      field="label"
      dataKey="value"
      [minLength]="3"
      [dropdown]="true"
      formControlName="genreIds"
      id="genre"
      (completeMethod)="loadGenreOptions($event)"
    ></p-autoComplete>
  </div>

  <div class="app-form-control p-input-filled">
    <label for="publisher" class="app-label">Editoras</label>
    <p-autoComplete
      [suggestions]="publishersOptions"
      [multiple]="true"
      field="label"
      dataKey="value"
      [minLength]="3"
      [dropdown]="true"
      formControlName="publisherIds"
      id="publisher"
      (completeMethod)="loadPublishersOptions($event)"
    ></p-autoComplete>
  </div>

  <div class="app-form-control p-input-filled">
    <label class="app-label" for="coverUri">Capa</label>

    <p-fileUpload name="myfile[]"
                  [customUpload]="true"
                  (uploadHandler)="fileUpload($event)"
                  id="coverUri"
                  [auto]="true"
                  accept="image/*"
                  chooseLabel="Escolher imagem"
    ></p-fileUpload>
  </div>

  <div class="app-form-control p-input-filled">
    <label for="description" class="app-label">Descrição</label>
    <textarea pInputTextarea formControlName="description" id="description" class="app-input"></textarea>
  </div>

  <div class="app-form-control-buttons">
    <button pButton label="Cancelar" class="p-button-plain p-button-text" (click)="cancel($event)"></button>
    <button pButton label="Salvar" class="p-button-success" [loading]="isLoading" [disabled]="bookForm.invalid" type="submit"></button>
  </div>
</form>
