section {
  display: grid;
  grid-template-columns: auto 50%;
  gap: 2rem;
  padding: 0;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  @media (max-width: 1000px) {
    max-height: 250px;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1rem;
}

.book-info {
  line-height: 1.5;
  padding: 2rem 2rem 0 0;

  & > * {
    margin-bottom: .5rem;
  }
}

::ng-deep p-dynamicDialog {
  .p-dialog-mask {
    backdrop-filter: blur(5px);
  }

  .p-dialog .p-dialog-content {
    padding: 0;
  }
}

::ng-deep p-rating {
  .p-rating .p-rating-icon, .p-rating .p-rating-icon.pi-star {
    color: #f44336;
    transition: .3s ease-in-out;
  }

  .p-rating:not(.p-readonly) .p-rating-icon:hover {
    color: darken(#f44336, 25%) !important;
    transform: scale(1.03);
  }
}

::ng-deep p-fieldset .p-fieldset {
  margin: 1rem 0;
}

.review-comment {
  padding: 1rem;
  background: #f3f3f3;
  margin: 1rem 0;
  border: 1px solid #dedede;
}
